/* Start Global Variables  */

:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 10%);
    --section-padding: 100px;
  }
  /* End Variables */

  /* Start Global Rules */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Open Sans", sans-serif;
  }
  ul {
    list-style: none;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  .main-heading{
   text-align: center;
  }
  .main-heading h2{
    margin-bottom: 70px;
    font-weight: normal;
    font-size: 40px;
    position: relative;
   }

   .main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}

.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border:2px  solid #333;
    transform: translateX(-50%);
    bottom: -38px;
    background-color: white;
}

.main-heading p {
    width: 50%;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}
/* End Global Rules  */


/* Start Header  */

header{
position: absolute;
left: 0;
width: 100%;
z-index: 2;
}

header .container {
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
}

header .container::after {
 content: '';
 height: 1px;
 background-color: aliceblue;
 width: calc(100% - 30px);
 position: absolute;
 bottom: 0;
}

header .container nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .container nav ul{
    display: flex;
}


header .container nav ul li a{
    color: white;
    display: block;
    position: relative;
    padding: 40px 15px;
    text-decoration: none;
    font-size: 14px;
    z-index: 2;
}

header .container nav ul li a.active,
header .container nav ul li a:hover{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header .container nav .form{
  border-left: 1px solid white;
  margin-left: 30px;
  height: 30px;
  width: 40px;
  position: relative;
}

header .container nav .form i{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }


/* End Header  */

/* Start Landing  */
.landing{
height: 100vh;
position: relative;
background-image: url("../media/image/gray-owl-with-yellow-eye-side-view-js2fzm2a2f9u18c9.jpg");
}

.landing .overlay{
background-color: var(--transparent-color);
height: 100%;
}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: rgba(25, 201, 250, 40%);
    color: white;
    display: flex;
    justify-content: flex-end;
  }

.landing .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .landing .text .content p {
    font-size: 14px;
    line-height: 2;
  }
  .landing .text .content {
    max-width: 500px;
  }

  .landing .text::before {
    content: '';
    width:30%;
    height: 100%;
    background-image: url('../media/image/6615527.png');
    position: absolute;
    left:20px;
    bottom: 10px;
    background-size: cover;
  }

/* End Landing  */

/* Start Services   */

.services {
padding-top: var(--section-padding);
padding-bottom: var(--section-padding);
}

.services .container .services-container {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
 row-gap: 60px;
 column-gap: 40px;
}

.services .container .services-container .srv-box{

}


.services .container .services-container .srv-box {
    display: flex;
}

.services .container .services-container .srv-box .text h3{
    color: var(--main-color);
    margin-bottom:30px ;

}

.services .container .services-container .srv-box .text p{

   line-height: 2;
   color: #777;
}
.services .srv-box i {
    margin-right: 50px;
}
/* End Services   */

/* Start Design  */

.design{

    background-image: url("../media/image/engin-akyurt-Hlkuojv_P6I-unsplash.jpg");
    height: 600px;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    display: flex;
    position: relative;
    align-items: center;
    background-size: cover;
    overflow: hidden;
}

.design .text{
    background-color: rgb(15 116 143 / 70%);
    flex: 1;
    color: white;
    padding: 50px;
    position: relative;

}
.design .text h2{
    margin-bottom: 40px;
}
.design .text ul li{
    padding: 15px;
}

.design .text ul li::before{
    content: "\f108";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 20px;
}

.design .image{
    text-align: center;
    flex: 1;
    position: relative;
    z-index: 2;
}

.design .image img{
  
    bottom: -130px;
    position: relative;
}
/* End Design  */

/* Start Portfolio */
.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .shuffle ul{
    display: flex;
    justify-content: center;
    
}

.portfolio .shuffle ul li{
    padding: 10px 20px;
    margin-left: 10px;
}
.portfolio .shuffle ul li.active , .portfolio .shuffle ul li:hover{
    background-color: var(--main-color);
    color: white;
}

.portfolio  .image-container{
   display: flex;
   flex-wrap: wrap;
   margin-top: 60px;
   background-color: #030d10;
}

.portfolio .image-container .box{
    flex-basis: 25%;
    padding: 5px;
    border-radius: 0;
    border: 0;
    outline: none;
    overflow: hidden;
    position: relative;
}

.portfolio .image-container .box  img{
   max-width: 100%;
   flex-basis: 25%;
   filter:grayscale(100%);
}

.portfolio .image-container .box  img:hover{
   border: 1px solid #19c8fa;
   transition: 5s;
   transition: ease-in;
   filter: none;
   
 }

.portfolio .more {
    display: block;
    margin: 30px auto;
    text-decoration: none;
    font-size: 20px;
    background-color: #19c8fa;
    color: white;
    width: fit-content;
    padding: 10px;
    text-transform: uppercase;
}

/* End Portfolio */

/* Start Video  */
.video{
   position: relative;
}

.video .text{
    text-align: center;
    padding: 10px;
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 50px;
}

.video .text h2{
   margin: 30px;
}

.video .text p{
    margin-bottom: 40px;
 }

 .video video{
    width: 100%;
 }

 .video .text a{
   text-decoration: none;
   color: white;
   font-size: 15px;
   background-color:rgb(15 116 143 / 70%);
   padding: 10px 20px;
 }
/* End Video  */

/* Start About  */

.about{
    padding-top: var(--section-padding);
    text-align: center;
    overflow: hidden;
}

.about img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}
/* End About  */

/* Start Statictis  */

.state{
background-image: url("../media/image/stats.png");
background-size: cover;
padding-top: var(--section-padding);
padding-bottom: var(--section-padding);
position: relative;
}

.state::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0 , 70%);
  top: 0;
  bottom: 0;

}

.state .container{
    background-color: rgb(15 116 143 / 70%);
    display: flex;
    z-index: 2;
    position: relative;
}

.state .container .box{
    flex-basis: 25%;
    padding: 50px;
    text-align: center;
    color: white;
    position: relative;

}

.state .container .box .number{
   font-size: 50px;
   margin: 20px;
   font-weight: bold;
}

.state .container .box .icon i{
   background-color: #000000;
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   margin: 0  auto 20px;
 }


/* End Statictis  */

/* Start Skills  */

.skills{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.skills .container{
    display: flex;
justify-content: space-between;
}

.skills .container .tesimonials{
    text-align: center;
    flex-basis: 45%;
}

.skills .container .tesimonials .comment{
font-weight: normal;
margin-bottom: 40px;
}

.skills .container .tesimonials > p{
    font-weight: normal;
    margin-bottom: 60px;
    color: #777;
    margin-top: 40px;
}

.skills .container .tesimonials .person{
    display: flex;
    margin-bottom:40px ;
}

.skills .container .tesimonials .person img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 50px;
}

.skills .container .tesimonials .person .comment p{
    font-weight: normal;
    text-align: right;
    color: #777;
    margin-bottom: 10px;
}

.skills .container .tesimonials .person .comment {
   text-align: start;
   line-height: 1.8;
   border-bottom: 1px solid #ccc;
}

.skills .skill{
    flex-basis: 45%;
}
.skills .container .skill h2{
    text-align: center;
    margin: 0 0 30px;
}

.skills .container .skill p{
    font-weight: normal;
    margin-bottom: 60px;
    color: #777;
    margin-top: 40px;
    text-align: center;
}

.skills .skill .prog-holder {
    margin-top: 40px;
    position: relative;
}

.skills .skill .prog-holder h4 {
    margin-bottom: 20px;
}

.skills .skill .prog-holder .prog {
   background-color: #dedadc;
   height: 30px;
}

.skills .skill .prog-holder .prog span {
    background-color: var(--main-color);
    display: block;
    height: 100%; 
    position: relative;
 }

 .skills .skill .prog-holder .prog span:before {
    content: attr(data-prog);
    background-color: #000000;
    color: azure;
    display: flex;
    width: 40px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    right:-20px;
    top: -40px;
 }

 .skills .skill .prog-holder .prog span::after {
    content: "";
    border-width: 8px ;
    border-style: solid;
    border-color: #000000 transparent transparent transparent;
    border-radius: 10px;
    position: absolute;
    right: -8px;
    top: -12px;
 }
/* End Skills */


/* Start Quote  */

.quote{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-image: url('../media/image/subscribe.jpg');
    background-size: cover;
    text-align: center;
    color: white;
    
}


.quote::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.quote .container{
    position: relative;
    z-index: 2;
}

.quote .container q{
   font-size: 30px;
   margin-bottom: 40px;
   display: block;
}

.quote .container p{
    font-size: 25px;
 }

/* End Quote  */


/* Start Pricing  */

.pricing{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.pricing .container .plans{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 30px;
}

.pricing .container .plans .plan{
 text-align: center;
 background-color: #fcfcfc;
}

.pricing .container .plans .plan .head{
     padding: 40px 20px;
     border-bottom: 1px solid var(--main-color);
     border-top: 1px solid var(--main-color);
}

.pricing .container .plans .plan .head h3{
    font-weight: normal;
    margin-bottom: 20px;
}

.pricing .container .plans .plan .head span{
    font-weight: bold;
    font-size: 60px;
    position: relative;
}

.pricing .container .plans .plan .head span::after{
  content: '$';
  position: absolute;
  font-size: 20px;
  font-weight: normal;
  left: -15px;
  top: 0;
}

.pricing .container .plans .plan .head span::before{
    content: '/Mo';
    position: absolute;
    font-size: 20px;
    right: -35px;
    bottom: 0;
}

.pricing .container .plans .plan ul{
    border-bottom: 1px solid var(--main-color);
}

.pricing .container .plans .plan li{
    padding: 20px;
    position: relative;
    font-weight: normal;
    font-size: 15px;
}

.pricing .container .plans .plan li:not(:last-child)::after {
    content: "";
    width: 140px;
    height: 0.9px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.pricing .container .plans .plan .foot a {
    text-decoration: none;
    margin: 40px auto;
    display: block;
    border: 1px solid var(--main-color);
    width: fit-content;
    padding: 20px;
    font-weight: bold;
    color: #333;
}

.pricing .container .text{
    margin-top: 40px;
    text-align: center;
}

.pricing .container .text h3{
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
}

.pricing .container .text a{
    display: block;
    text-decoration: none;
    color: white;
    width: fit-content;
    padding: 15px 30px;
    background-color: var(--main-color);
    margin: 10px auto;
}
/* End Pricing  */

/* Start Subscribe */
.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../media/image/subscribe.jpg");
    background-size: cover;
    position: relative;
    color: white;
  }

  .subscribe::before {
   content: "";
   background-color: rgb(0 0 0 / 50%);
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: absolute;
  }

  .subscribe .container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .subscribe form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
  }

  .subscribe form input[type="email"] {
   background: none;
   border: 1px solid white;
   border-right: none;
   padding: 20px 20px 20px 60px;
   outline: none;
   caret-color: var(--main-color);
  }
  .subscribe form ::placeholder {
    color: whitesmoke;
   }
  .subscribe form input[type="submit"] {
  background-color:var(--main-color) ;
  color: white;
  border: 1px solid white;
  border-left: none;
  padding: 20px;
  width: 120px;
  cursor: pointer;
  }

  .subscribe form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    color: #ccc;
    }

    .subscribe .container p {
       margin-left: 25px;
       line-height: 2;
    }

  /* End Subscribe */

 /* Start Contact us */
  .contact{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }
  .contact .content{
   display: flex;
   justify-content: space-between;
  }

  .contact .content form{
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
   }

   .contact .content form input ,
   .contact .content form textarea {
    margin-bottom: 30px;
    padding: 20px;
    width: 768px;
    border: 1px solid #ccc;
    outline: none;
   }

   .contact .content form textarea {
    height: 170px;
   }

   .contact .content form input[type='submit'] {
    width: 20%;
    align-self: flex-end;
    background-color: var(--main-color);
    color: white;
    outline: none;
    border: none;
    padding: 15px;
    cursor: pointer;
   }

   .contact .content .info {
    flex-basis: 25%;
    }

   .contact .content .info h4:nth-of-type(1){
   text-transform: uppercase;
   margin-bottom: 30px;
   font-weight: 500;
   font-size: 18px;
   }

   .contact .content .info span{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 16px;
    color: #777;
    display: block;
    }

    .contact .content .info h4:nth-of-type(2){
        text-transform: uppercase;
        margin-bottom: 10px;
        margin-top: 85px;
        font-weight: 500;
        font-size: 18px;
        display: block;
    }

    .contact .content .info address{
       color: #777;
       line-height: 2;
    }
/*  End Contact us  */


/* Start Footer  */

footer{
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    background-image: url('../media/image/subscribe.jpg');
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}
footer::before{
    content: "";
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

footer .container{
    position: relative;
}

footer img{
    margin-bottom: 20px;
    
}

footer p:not(.copyright){
    margin: 20px auto;
    font-size: 25px;
    padding: 20px;
    border-bottom: 1px solid white;
    width: fit-content;
}

footer .social ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social li{
 padding: 15px;

}
footer .social li i{
   font-size: 20px;
   cursor: pointer;
   transition: 0.3s;
}

footer .social li i:hover{
    font-size: 25px;
    color: var(--main-color);
    padding: 0;
    margin: 0;
    
 }

footer .copyright{
    margin-top: 40px;
}


/* End Footer  */